.project-wrapper {
  text-align: center;
  width: 60%;
  max-width: 1200px;
  margin-left: 40%;
  font-family: "Mukta Vaani";

  h4 {
    display: flex;
    align-self: start;
    color: #ffffff;
    font-weight: 400;
  }

  .projects {
    width: 100%;
    height: 100vh;
    padding: 65px;

    .wrap {
      margin: 0 auto;
      max-width: 400px;
      position: relative;

      .image {
        display: block;
        position: relative;
        z-index: 2;
      }
      .shadow {
        bottom: -35px;
        -webkit-filter: blur(20px);
        filter: blur(20px);
        height: 100%;
        left: 0;
        position: absolute;
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        width: 100%;
        z-index: 1;
      }
    }

    .project-heading {
      display: flex;
      flex-direction: column;

      .project-links {
        display: flex;
        justify-content: space-between;
        width: 175px;
        a {
          font-family: "Mukta Vaani";
          font-weight: 200;
          color: #ffffff;
          text-decoration: none;
          opacity: 0.6;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .project-information {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #ffffff;
      h4 {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.7px;
      }
      h5 {
        font-weight: 100;
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
  }
}
