// Start sidebar-wrapper
.sidebar-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 100%;
  padding: 75px 85px 50px;
  .about-me {
    position: relative;
    top: 50%;
    z-index: 0;

    h2 {
      font-family: "Scheherazade";
      font-weight: 700;
      font-size: 5rem;
      letter-spacing: 2px;
    }

    p {
      font-family: "Mukta Vaani";
      font-weight: 200;
      font-size: 1rem;
      a {
        font-family: Mukta Vaani;
        font-weight: 400;
        text-decoration: none;
        border-radius: 50px;
        padding: 2px 15px;
        background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

        &:hover {
          color: #000000;
        }
      }
    }
  }
}

// End sidebar-wrapper

// Start bubble-wrapper

.bubble-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 40%;
  height: 100%;
  background-color: #fafafa;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fafafa),
    to(#fafafa)
  );
  background-image: linear-gradient(180deg, #fafafa, #fafafa);

  // Animations
  .bubble {
    background: #3358f4;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#3358f4),
      to(#1d8cf8)
    );
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    -webkit-animation: move-left-right 1s infinite;
    animation: move-left-right 1s infinite;
    position: absolute;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    overflow: hidden;
    border-radius: 50%;
  }

  .bubble-1 {
    height: 300px;
    width: 300px;
    opacity: 0.2;
    right: -5%;
    top: -12%;
    animation: 6s ease 0s infinite normal none running move-left-right;
  }

  .bubble-2 {
    height: 200px;
    width: 200px;
    opacity: 0.1;
    left: -10%;
    bottom: 0px;
    animation: 5s ease 0s infinite normal none running move-left-right;
  }
}

// Keyframes move-left-right

@keyframes move-left-right {
  0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

// End bubble wrapper
