*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}

body::-webkit-scrollbar-thumb {
  background: #abdcff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Scheherazade Font Family */
@font-face {
  font-family: "Scheherazade";
  src: url(./assets/fonts/Scheherazade/Scheherazade-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Scheherazade";
  src: url(./assets/fonts/Scheherazade/Scheherazade-Bold.ttf);
  font-weight: 700;
}

/* Mukta Vaani Font Family */

@font-face {
  font-family: "Mukta Vaani";
  src: url(./assets/fonts/Mukta-Vaani/MuktaVaani-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "Mukta Vaani";
  src: url(./assets/fonts/Mukta-Vaani/MuktaVaani-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Mukta Vaani";
  src: url(./assets/fonts/Mukta-Vaani/MuktaVaani-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Mukta Vaani";
  src: url(./assets/fonts/Mukta-Vaani/MuktaVaani-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Mukta Vaani";
  src: url(./assets/fonts/Mukta-Vaani/MuktaVaani-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Mukta Vaani";
  src: url(./assets/fonts/Mukta-Vaani/MuktaVaani-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Mukta Vaani";
  src: url(./assets/fonts/Mukta-Vaani/MuktaVaani-ExtraBold.ttf);
  font-weight: 800;
}
